<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qihui.sun.dao.StudentMapper">
<!--多对一 方式一-->
    <select id="queryAllStudents" resultMap="student_teacher">
        select s.id sid,s.name sName,t.name tName
        from student s,teacher t
        where s.tid=t.id
    </select>
    <resultMap id="student_teacher" type="student">
        <result property="id" column="sid"/>
        <result property="name" column="sName"/>
        <association property="teacher" javaType="teacher">
            <result property="name" column="tName"/>
        </association>
    </resultMap>
    <!--多对一 方式二-->
    <!--<select id="queryAllStudents" resultMap="student_teacher">
        select * from student
    </select>
    <resultMap id="student_teacher" type="student">
        <association property="teacher" column="tid" javaType="teacher" select="getTeacherById"/>
    </resultMap>
    
    <select id="getTeacherById" resultType="teacher">
        select * from teacher where id=#{id}
    </select>-->
</mapper>